<header class="header" [class.scrolled]="isScrolled">
    <div class="container">
        <div class="navbar">
            <a routerLink="/" class="logo">
                <img [src]="headerData.logo" [alt]="headerData.logoAlt" class="logo-img">
                <div class="logo-text">
                    <h2>{{ headerData.brandName }}</h2>
                    <span>{{ headerData.tagline }}</span>
                </div>
            </a>

            <nav class="nav-links" [class.active]="menuOpen">
                @for (item of navItems; track item.name) {
                    @if (item.dropdown) {
                        <div class="buy-dropdown">
                            <div class="buy-link">
                                <a
                                    [routerLink]="item.link"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{ exact: false }"
                                    (click)="closeMenu()">
                                    {{ item.name }}
                                </a>

                                <button
                                    type="button"
                                    class="dropdown-arrow"
                                    (click)="toggleBuyDropdown()">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </button>
                            </div>

                            <div
                                class="buy-dropdown-menu"
                                [class.open]="buyDropdownOpen">
                                @for (menu of item.dropdown; track menu.name) {
                                    <a
                                        [routerLink]="['/buy']"
                                        [fragment]="menu.fragment"
                                        (click)="closeMenu()">
                                        {{ menu.name }}
                                    </a>
                                }
                            </div>
                        </div>
                    } @else {
                        <a
                            [routerLink]="item.link"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="closeMenu()">
                            {{ item.name }}
                        </a>
                    }
                }

                <div class="mobile-buttons">
                    <a
                        [routerLink]="headerData.signInLink"
                        class="btn btn-outline"
                        (click)="closeMenu()">
                        {{ headerData.signInText }}
                    </a>

                    <a
                        [routerLink]="headerData.addPropertyLink"
                        class="btn btn-primary"
                        (click)="closeMenu()">
                        {{ headerData.addPropertyText }}
                    </a>
                </div>
            </nav>

            <div class="header-buttons">
                <a
                    [routerLink]="headerData.signInLink"
                    class="btn btn-outline">
                    {{ headerData.signInText }}
                </a>

                <a
                    [routerLink]="headerData.addPropertyLink"
                    class="btn btn-primary">
                    {{ headerData.addPropertyText }}
                </a>
            </div>

            <button
                class="menu-btn"
                type="button"
                (click)="toggleMenu()">
                <i
                    class="fa-solid"
                    [class.fa-bars]="!menuOpen"
                    [class.fa-xmark]="menuOpen">
                </i>
            </button>
        </div>
    </div>
</header>