/*========================================
        HERO SECTION
========================================*/

.hero{

    position:relative;

    min-height:720px;

    background:
    linear-gradient(
        rgba(15,23,42,.45),
        rgba(15,23,42,.45)
    ),
    url('/hero.jpg');

    background-size:cover;

    background-position:center;

    display:flex;

    align-items:center;

    overflow:hidden;

}


.hero-container{

    width:min(92%,1400px);

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:50px;

    position:relative;

    z-index:2;

}



/*========================================
        LEFT CONTENT
========================================*/


.hero-content{

    max-width:650px;

}


.section-subtitle .hero-tag{

    color:var(--secondary);

    font-size:13px;

    font-weight:700;

    letter-spacing:3px;

    text-transform:uppercase;

}
.section-title{
    font-size:46px;
    font-weight:600;
    color:var(--white);
    line-height:1.2;
    margin-bottom:15px;
}

.section-description{
    max-width:650px;
    margin:auto;
    font-size:16px;
    color:var(--white);
    line-height:1.8;
}



/*========================================
        SEARCH BOX
========================================*/


.search-box{

    margin-top:40px;

    background:#fff;

    border-radius:20px;

    padding:15px;

    display:grid;

    grid-template-columns:repeat(4,1fr) 65px;

    gap:10px;

    width:850px;

    box-shadow:
    0 25px 60px rgba(0,0,0,.25);

}



.search-item{

    padding:10px 15px;

    border-right:1px solid #E5E7EB;

}



.search-item label{

    display:block;

    font-size:11px;

    color:var(--text);

    margin-bottom:8px;

    text-transform:uppercase;

    letter-spacing:1px;

}



.search-item select{

    border:none;

    outline:none;

    width:100%;

    color:var(--primary);

    font-weight:600;

    background:white;

    cursor:pointer;

}



.search-btn{

    border:none;

    background:var(--secondary);

    color:#fff;

    border-radius:15px;

    font-size:20px;

    cursor:pointer;

    transition:.35s;

}


.search-btn:hover{

    background:var(--primary);

    transform:translateY(-3px);

}



/*========================================
        POPULAR SEARCH
========================================*/


.popular-search{

    margin-top:18px;

    display:flex;

    gap:15px;

    align-items:center;

    flex-wrap:wrap;

}


.popular-search span{

    color:#fff;

    font-size:20px;

}



.popular-search a{

    color:rgba(255,255,255,.8);

    font-size:20px;

    cursor:pointer;

    transition:.3s;

}



.popular-search a:hover{

    color:var(--secondary);

}



/*========================================
        STATS CARD
========================================*/


.stats-card{

    width:260px;

    padding:28px;

    background:

    rgba(47,72,88,.75);

    backdrop-filter:blur(15px);

    border-radius:25px;

    border:1px solid rgba(255,255,255,.15);

}



.stat{

    display:flex;

    align-items:center;

    gap:18px;

    padding:18px 0;

    border-bottom:1px solid rgba(255,255,255,.12);

}


.stat:last-child{

    border:none;

}



.icon{

    width:48px;

    height:48px;

    border-radius:14px;

    background:

    rgba(201,123,99,.15);

    color:var(--secondary);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:20px;

}



.stat h3{

    color:#fff;

    font-size:24px;

    margin:0;

}



.stat p{

    color:rgba(255,255,255,.7);

    font-size:12px;

    margin-top:5px;

}



/*========================================
        RESPONSIVE
========================================*/


@media(max-width:1200px){


.hero-container{

    flex-direction:column;

    align-items:flex-start;

}


.stats-card{

    position:absolute;

    right:40px;

    top:180px;

}


.search-box{

    width:100%;

}


}



@media(max-width:992px){


.hero{

    min-height:auto;

    padding:120px 0 80px;

}


.hero-content h1{

    font-size:42px;

}


.stats-card{

    position:relative;

    right:auto;

    top:auto;

    margin-top:40px;

}



.search-box{

grid-template-columns:repeat(2,1fr);

}


.search-btn{

height:55px;

}


}



@media(max-width:576px){


.hero-content h1{

font-size:38px;

}


.hero-content p{

font-size:15px;

}



.search-box{

grid-template-columns:1fr;

border-radius:18px;

}



.search-item{

border-right:none;

border-bottom:1px solid #eee;

}


.stats-card{

width:100%;

}



.popular-search{

gap:10px;

}


}
/*=====================================
        PROPERTY SHOWCASE
=====================================*/

.property-showcase{

    display:grid;

    grid-template-columns:260px 1fr;

    gap:35px;

    padding:80px 60px;

    background:var(--bg);

}



/*=====================================
        LEFT CATEGORY SIDEBAR
=====================================*/


.categories{

    background:var(--primary);

    border-radius:18px;

    padding:28px 22px;

    color:var(--white);

    height:max-content;

    position:sticky;

    top:20px;

}



.categories h3{

    font-size:18px;

    margin-bottom:25px;

    font-weight:600;

}



.category{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px 0;

    border-bottom:1px solid rgba(255,255,255,.12);

    cursor:pointer;

    transition:.3s;

}



.category:hover{

    transform:translateX(6px);

}



.category i{

    width:35px;

    height:35px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:10px;

    background:rgba(255,255,255,.08);

    color:var(--secondary);

    font-size:15px;

}



.category h4{

    font-size:14px;

    margin:0 0 4px;

    font-weight:600;

}



.category span{

    color:rgba(255,255,255,.65);

    font-size:11px;

}



.view-btn{

    width:100%;

    margin-top:25px;

    padding:12px;

    background:transparent;

    color:white;

    border:1px solid rgba(255,255,255,.3);

    border-radius:8px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    cursor:pointer;

    transition:.3s;

}



.view-btn:hover{

    background:var(--secondary);

    border-color:var(--secondary);

}






/*=====================================
        PROPERTY SHOWCASE
=====================================*/

.showcase{

    display:flex;
    flex-direction:column;
     gap:100px;

}


/* CARD */

.property-card{

    background:transparent;

    display:grid;

    grid-template-columns:45% 55%;

    gap:25px;

    height:220px;

    border:none;

    box-shadow:none;

}






/* second card image left */

.property-card.second{

    grid-template-columns:55% 45%;

}



/* CONTENT */


.property-content{

    background:white;

    border-radius:20px;

    padding:30px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    box-shadow:0 15px 35px rgba(47,72,88,.08);

}


.property-content h2{

    color:var(--primary);

    font-size:28px;

    line-height:1.2;

    margin:12px 0;

}



.location{

    color:var(--text);

    font-size:14px;

}



.location i{

    color:var(--secondary);

}



.property-content h3{

    color:var(--secondary);

    font-size:24px;

    margin:15px 0;

}



.details{

    display:flex;

    gap:20px;

    color:var(--text);

    font-size:13px;

}



.details span{

    display:flex;

    align-items:center;

}



/* BUTTON */


.property-content button{

    margin-top:18px;

    width:max-content;

    padding:10px 20px;

    background:transparent;

    color:var(--primary);

    border:1px solid var(--secondary);

    border-radius:8px;

    font-size:13px;

    cursor:pointer;

    transition:.3s;

}



.property-content button:hover{

    background:var(--secondary);

    color:white;

}




/* IMAGE */


.property-img{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 15px 35px rgba(47,72,88,.08);

}



.property-img img{

    width:100%;

    height:100%;

    object-fit:cover;

}



.property-card:hover img{

    transform:scale(1.05);

}




/* ZIG ZAG */

.property-card:nth-child(2){

    grid-template-columns:55% 45%;

}



.property-card:nth-child(2) .property-content{

    order:2;

}



.property-card:nth-child(2) .property-img{

    order:1;

}



/* RESPONSIVE */


@media(max-width:1100px){


.property-card,
.property-card.second{

    grid-template-columns:1fr;

    height:auto;

}



.property-img{

    height:220px;

}



.property-content{

    padding:25px;

}



.property-card:nth-child(2) .property-content,
.property-card:nth-child(2) .property-img{

    order:initial;

}


}



@media(max-width:768px){


.property-showcase{

    display:block;

    padding:40px 20px;

}


.property-content h2{

    font-size:24px;

}


.details{

    flex-wrap:wrap;

}


}
/* PREMIUM PROPERTIES */


.premium-section{

    padding:60px;

}



.section-heading{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}



.section-heading h2{

    

    font-size:32px;

    color:var(--primary);

    margin:0;

}



.heading-line{

    display:block;

    width:35px;

    height:3px;

    background:var(--secondary);

    margin-top:8px;

}




.view-all-btn{

    background:white;

    border:1px solid var(--secondary);

    color:var(--secondary);

    padding:10px 18px;

    border-radius:8px;

    font-size:12px;

    cursor:pointer;

}



.view-all-btn:hover{

    background:var(--secondary);

    color:white;

}





/* GRID */


.premium-grid{

    display:flex;

    grid-template-columns:repeat(5,1fr);

    gap:45px;

   

}





/* CARD */


.premium-card{

    background:white;

    border:1px solid var(--border);

    border-radius:10px;

    overflow:hidden;

    transition:.3s;
    height:250px;
    width:250px;

}



.premium-card:hover{

    transform:translateY(-6px);

    box-shadow:0 15px 35px rgba(47,72,88,.15);

}





.image-box{

    height:150px;

    position:relative;

}



.image-box img{

    width:100%;

    height:100%;

    object-fit:cover;

}





.badge{

    position:absolute;

    top:10px;

    left:10px;

    background:var(--secondary);

    color:white;

    padding:4px 8px;

    border-radius:4px;

    font-size:9px;

    font-weight:600;

}



.heart{

    position:absolute;

    right:10px;

    top:10px;

    background:white;

    width:25px;

    height:25px;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    color:var(--primary);

    font-size:12px;

}





.card-content{

    padding:12px;

}



.title-row{

    display:flex;

    justify-content:space-between;

    gap:10px;

}



.title-row h3{

    font-size:13px;

    color:var(--primary);

    margin:0;

}



.title-row h4{

    color:var(--secondary);

    font-size:13px;

    white-space:nowrap;

}



.location{

    font-size:11px;

    color:var(--text);

}



.location i{

    color:var(--secondary);

}





.property-info{

    display:flex;

    justify-content:space-between;

    border-top:1px solid var(--border);

    padding-top:10px;

    margin-top:10px;
    
    
}



.property-info span{

    font-size:10px;

    color:var(--text);

}





/* RESPONSIVE */


@media(max-width:1100px){

.premium-grid{

grid-template-columns:repeat(2,1fr);

}

}



@media(max-width:600px){


.premium-section{

padding:30px 20px;

}


.section-heading{

flex-direction:column;

align-items:flex-start;

gap:15px;

}



.premium-grid{

grid-template-columns:1fr;

}


}
/* ===============================
      EXCLUSIVE COLLECTION
================================ */


.exclusive-section{

    padding:60px;

}



.section-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}



.section-header h2{

    font-size:28px;

    color:var(--primary);

    margin:0;

    font-weight:600;

}



.title-line{

    display:block;

    width:35px;

    height:3px;

    background:var(--secondary);

    margin-top:7px;

}





.collection-btn{

    background:white;

    color:var(--secondary);

    border:1px solid var(--secondary);

    padding:10px 18px;

    border-radius:8px;

    font-size:12px;

    cursor:pointer;

}



.collection-btn:hover{

    background:var(--secondary);

    color:white;

}





.collection-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:15px;

}





.collection-card{

    height:95px;

    border-radius:10px;

    background-size:cover;

    background-position:center;

    position:relative;

    overflow:hidden;

    cursor:pointer;

}



.overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        90deg,
        rgba(15,23,42,.85),
        rgba(15,23,42,.45)
    );

}



.collection-content{

    position:absolute;

    inset:0;

    padding:18px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    z-index:2;

}



.collection-content h3{

    color:white;

    font-size:16px;

    margin:0 0 5px;

}



.collection-content p{

    color:rgba(255,255,255,.75);

    font-size:11px;

    margin:0;

}



.arrow{

    width:28px;

    height:28px;

    border-radius:50%;

    background:var(--secondary);

    color:white;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:16px;

    transition:.3s;

}



.collection-card:hover .arrow{

    transform:translateX(5px);

}




/* RESPONSIVE */


@media(max-width:1000px){


.collection-grid{

    grid-template-columns:repeat(2,1fr);

}


}




@media(max-width:600px){


.exclusive-section{

    padding:30px 20px;

}


.section-header{

    flex-direction:column;

    align-items:flex-start;

    gap:15px;

}



.collection-grid{

    grid-template-columns:1fr;

}



}


/* RESPONSIVE */

@media(max-width:1200px){

.compare-layout{

grid-template-columns:1fr;

}


.help-card{

margin-top:25px;

}


}



@media(max-width:800px){


.compare-section{

padding:40px 20px;

}


.compare-items{

overflow-x:auto;

}


.compare-card{

min-width:190px;

}


.help-card{

height:auto;

}


.help-card img{

display:none;

}


}
