.features {
  background: var(--white);
  padding-top: 150px;
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}
.feature-item {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}
.icon-box {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 28px;
    color: var(--white);
  }
}
.feature-content {
  .heading {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary);
  }
  .text {
    font-size: 15px;
    line-height: 1.7;
    color: var(--text);
  }
}

/*=========================*
* Responsive
*=========================*/

@media (max-width: 992px) {
  .features {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  .feature-item {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .features {
    padding-top: 80px;

    .grid {
      grid-template-columns: 1fr;
      gap: 25px;
    }
  }
}
